

@{ Html.RenderPartial("Partial/CategoriesListPartial");}
<br />
<br />

<h3>Last added auctions</h3>
<hr />
<div class="row">
    @{ Html.RenderPartial("Partial/LotListPartial");}
</div>
<br /><br />